<div class="row">
    <div class="col">
        <p>Wyników <%- users.length %> na <%- resultsCount %></p>
        <nav>
            <ul class="pagination">
                <% for (let i = 1; i <= pagesCount; i++) { %>
                    <li class="page-item <%- page == i ? 'active' : '' %>">
                        <a class="page-link" href="#" data-page="<%- i %>">
                            <%- i %>
                        </a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</div>
